body {
    /* background-color: #f8f9fa; */
    background-image: url('../images/background.jpg');
    background-size: cover;
    background-color: #f0c7f1; /* fallback */
    font-family: 'Open Sans', sans-serif;
}

a, .btn-link {
    text-decoration: none!important;
}

.modal-content {
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.btn-primary {
    background-color: #007bff;
    border: none;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.modal-header {
    border-bottom: none;
}

.modal-footer {
    border-top: none;
}

.password-eye {
    width: 35px;
    color: #ced4da;
    font-size: 14px;
    text-align: center;
    cursor: pointer;    
}

.password-eye:hover {
    color: #b4b9be;
}

#SigninModal, #SignupModal {
    /* Set initial state */
    transform: translateY(-15px);
    /* Trigger the animation */
    animation: fadeDown 0.3s ease-out forwards;
  }
  
  @keyframes fadeDown {
    from {
      transform: translateY(-15px);
    }
    to {
      transform: translateY(0);
    }
  }
  