.spinner {
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.spinner path {
    fill: #277cf9;
}

button .spinner path {
    fill: white;    
}

#searchModalSpinner .spinner path {
    fill: #289ae7;
}